<!DOCTYPE html>
<html>
<head>  
	<title>Add Student</title>

	<link rel="stylesheet" href="navigation.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div align="center">
<a href="http://localhost/student/marks/addsubject"  class ="btn-primary btn updatebtn" class="button">ADD SUBJECT</a>
<a href="http://localhost/student/marks/editit"  class ="btn-primary btn updatebtn" class="button">ADD MARKS</a>
<a href="http://localhost/student/marks/list"  class ="btn-primary btn updatebtn" class="button">View List</a>

</div>

<br>
<br>

	<form action="{{path('marks_adddb')}}" method="post" 
	align ="center" id ="form"/>

	Student Name: <input type="text"   name="name" >
	<br>
	<br>
	Mobile Number: <input type="text"   name="mobile"  >
	<br>  
	<br>
	<input type="submit" value = "submit"  Onclick="{{path('marks_adddb')}}"/>
</form>
</body>
</html